@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@font-face{
  font-family: Helvetica; 
	src: url('../assets/fonts/Helvetica/Helvetica-Bold.ttf'),
	format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Helvetica_light; 
	src: url('../assets/fonts/Helvetica/helvetica-light-587ebe5a59211.ttf'),
	format('truetype'); 
  font-weight: 100;
  font-style: italic;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-color: #2D2D2D;
    background-image: url(../assets/images/backgroundMotion.png);
    background-position: top center;
    background-repeat: no-repeat;
}

header{
    width: 100%;

}

header a{
    color: #6EA8FF;
    text-decoration: none;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    list-style-type: none;
    width: 100%;
    padding: 30px 0px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

#poster{
    width: 120vw;
    left: -10%;
    position: relative;
    text-align: center;
    padding: 40px;
    background: radial-gradient(#0165FC, #0157D9);
    box-shadow: 0px 0px 111px #0164f865;
    transform: rotate(-2deg);
    margin: 50px 0px;
}

#poster h1{
    color: #fff;
    font-size: 5em;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
}

#poster h2{
    color: #6EA8FF;
    font-family: "Silkscreen", sans-serif;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 15px;
}

#video{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 135px;
}

#videoPresetation{
    width: 600px;
    height: 400px;
    background-color: #ffffff42;
    z-index: 1;
}

#aboutMe{
    background-color: #243C61;
    background-image: url(../assets/images/Background2.png);
}

#aboutMe > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#aboutMe > #options{
    transform: translateY(-40px);
}

#aboutMe > #options > h2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    color: #fff;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-size: 1em;
    padding: 10px;
    background-color: #0165FC;
    border-radius: 24px 24px 0 0;
}

#aboutMe > #options > h2 > img{
    cursor: pointer;
}

#options > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    background-color: #0157D9;
    border-radius: 25px 0 0 0;
}

#options > div > div{
    width: 50px;
    height: 40px;
    background-color: #0157D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#options > div > div img{
    cursor: pointer;
}

#options > div > div:first-of-type{
    border-radius: 25px 0 0 0;
}

#options > div > div:last-of-type{
    border-radius: 25px 0 0 0;
    background-color: #6EA8FF;
}

#aboutMe > aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#aboutMe > aside h2{ 
    color: #fff;
    font-size: 4em;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
}

#aboutMe > aside > article{
    max-width: 725px;
    padding: 20px;
}

#aboutMe > aside span{
    color: #fff;
    font-family: Helvetica_light, monospace;
    font-size: 0.75em !important;
    font-weight: 100;
    font-style: normal;
    color: #0165FC;
}

#aboutMe > aside p {
    color: #fff;
    font-size: 1em;
    font-family: Helvetica_light, monospace;
    margin: 15px 1px;
}

#aboutMe #workTools{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe #workTools #tools{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#aboutMe #workTools button{
    background-image: url(../assets/images/ButtonTools.png);
    background-color: #00000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 700px;
    height: 170px;
    margin: 50px;
    border: none;
    color: #fff;
    font-family: "Silkscreen", sans-serif;
    font-size: 2.5em;
}

#projects{
    background-color: #0F2443;
    padding-bottom: 50px;
}

#projects h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0059E0;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 5em;
    text-align: center;
    padding: 100px;
    background-image: url(../assets/images/backgroun3.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

#projects > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 50px;
}

#projects > section h3{
    color: #fff;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 2.5em;
}

#projects > section h4{
    color: #fff;
    font-family: Helvetica_light, monospace;
    font-size: 1em;
    font-weight: 100;
}

#academic h2{
        width: 120vw;
    left: -10%;
    top: -30px;
    position: relative;
    text-align: center;
    padding: 40px;
    background: radial-gradient(#0165FC, #0157D9);
    transform: rotate(-1deg);
    color: #fff;
    font-size: 3.5em;
    font-family: Helvetica, monospace;
}

#academic > article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#academic aside > img{
    width: 100%;
    min-width: 300px;
}

.experience:first-child > img{
    position: relative;
    left: -25px;
}

#experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.experience > img{
    max-width: 458px;
    min-width: 300px;
    width: 100%;
}

.experience h3{
    font-size: 2em;
    font-style: italic;
    font-family: Helvetica_light, monospace;
    font-weight: 100;
    color: #fff;
}

.experience h3 b{
    font-weight: 900;
}

.experience h4{
    font-size: 1.2em;
    font-family: Helvetica_light, monospace;
    color: #fff;
    font-weight: 100;
    letter-spacing: 3px;
}

#companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#companies::after{
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    background-image: linear-gradient(to right, #ffffff00, #fff, #ffffff00);
}

#companies h2{
    color: #0165FC;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 5em;
    text-align: center;
    border: #0165FC 3px solid;
    padding: 20px 40px 10px 30px;
    border-radius: 60px;
}

#companies div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap; 
}

#callToAction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

#callToAction h2{
    color: #fff;
    font-family: Helvetica, monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    margin: 100px;
}

#callToAction button{
    padding: 30px;
    background-color: #0165FC;
    border-radius: 60px;
    border: none;
    box-shadow: 0px 0px 27.1px #0000009d;
}

#callToAction a{
    color: #fff;
    font-family: Helvetica, monospace;
    font-weight: 900;
    font-size: 3.5em;
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    background-color: #0F2443;
}

footer #socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    margin-bottom: 10px;
}

footer p{
    color: #fff;
    font-family: Helvetica_light, monospace;
    font-size: 1.3em !important;
    font-weight: 100;
    text-align: center;
}